<h1><%= _('Confirm your password') %></h1>

<%= _("Hello, %s! Please confirm your password in the field below.") % user.name %>

<%= form_tag do %>

<p><label for="password"><%= _('Password') %></label><br/>
<%= password_field_tag :password %></p>

<%= submit_button :ok, _('Confirm') %>

<% end %>

