.controller-profile_editor .control-panel a.control-panel-academic-integration {
  background-image: url(images/mortarboard.png);
}

.controller-profile_editor .control-panel a.control-panel-academic-integration {
  display: none;
}

.member-of-estudantes.controller-profile_editor .control-panel a.control-panel-academic-integration {
  display: block;
}
